<div id="main-container">
    <header>
        <h1 class="title">Add Product</h1>
        <button class="close-btn" (click)="this.closeDialog()">
            <img src="assets/icons/close.svg" alt="">
        </button>
    </header>
    <hr>
    <main>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

        <div class="input-form">
          <label for="name">Name</label>

          <div class="input-box"
              [class.invalid]="name.invalid && (name.touched || f.submitted) || errorMessage || (model.name === null && (name.touched || f.submitted))">

            <input 
              placeholder="Sponsoring, Salary, etc.."
              id="name"
              name="name"
              [(ngModel)]="model.name"
              #name="ngModel"
              required
            >
          </div>

          <div class="error"
              *ngIf="name.invalid && (name.touched || f.submitted)">
            <span *ngIf="name.errors?.['required']">Name is required.</span>
          </div>
        </div>
        
        <div class="input-form">
          <label for="categories">Category</label>

          <div class="input-box"
              [class.invalid]="(categoriesRef.invalid || model.category == '') && (categoriesRef.touched || f.submitted) || errorMessage">

            <div class="custom-select">
                <select name="categories" id="categories" #categoriesRef="ngModel" [(ngModel)]="model.category" required>
                    <option value="" disabled selected>Select Category</option>
                    <option *ngFor="let category of categories" [value]="category.id">
                        {{category.name}}
                    </option>
                </select>
                <span class="custom-arrow"></span>
            </div>
            <button type="button" class="btn add" (click)="openAddCategoryPopup()">Add Category</button>
          </div>
          <div class="error"
              *ngIf="(categoriesRef.invalid || model.category == '') && (categoriesRef.touched || f.submitted)">
            <span *ngIf="categoriesRef.errors?.['required']">Category is required.</span>
          </div>

        </div>

        <div class="input-form">
          <label for="price">Price</label>

          <div class="input-box"
              [class.invalid]="price.invalid && (price.touched || f.submitted) || errorMessage || (model.price == 0 && (price.touched || f.submitted))">

            <input 
                type="number"
                placeholder="1, 2, 3..."
                id="price"
                name="price"
                [(ngModel)]="model.price"
                #price="ngModel"
                required
            >
          </div>

          <div class="error"
              *ngIf="price.invalid && (price.touched || f.submitted) || price.value < 0 || (price.value == 0 && (price.touched || f.submitted))">
            <span *ngIf="price.errors?.['required'] || model.price == 0">price is required.</span>
            <span *ngIf="price.value < 0">price should be positive.</span>
          </div>
        </div>

        <div class="input-form">
          <label for="description">Description</label>

          <div class="input-box"
              [class.invalid]="description.invalid && (description.touched || f.submitted) || errorMessage">

            <textarea
              placeholder="Want to add something ?"
              id="description"
              name="description"
              [(ngModel)]="model.description"
              #description="ngModel"
              rows="4"
            >
            </textarea>
          </div>
        </div>
        <span class="error flx-spcbtwn w-100" *ngIf="errorMessage">{{ errorMessage }}</span>
      </form>
    </main>
    <footer>
        <button [disabled]="!checkValidity(f)" type="submit" class="btn add" [class.clicked]="addClicked" (click)="onSubmit(f)">
            {{addClicked? 'Added': 'Add'}}
        </button>
        <button class="btn discard" (click)="closeDialog()">Discard</button>
    </footer>
</div>