.overview-container {
  background: #fff;
  padding: 28px 24px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.12);
  border-radius: 18px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header span {
  font-family: "Poppins";
  font-size: 26px;
  font-weight: 600;
}

.range-btn {
  background: #685BC7;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 14px;
}

.chart-wrapper {
  margin-top: 20px;
  height: 300px;
}
