.overview-container {
  background: white;
  border-radius: 20px;
  padding: 20px 26px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.04);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.header span {
  font-size: 18px;
  font-weight: 600;
  font-family: Poppins;
}

.range-btn {
  background: #6d39ff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  font-family: Poppins;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.range-btn img {
  width: 20px;
}


.chart-wrapper {
  width: 100%;
  height: 260px;
  position: relative;
}

.dropdown {
  position: relative;
}

.header span {
  font-size: 1.6em;
}