.overview-container {
  background: white;
  border-radius: 20px;
  padding: 20px 26px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.04);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.header span {
  font-size: 18px;
  font-weight: 600;
  font-family: Poppins;
}

.range-btn {
  background: #6d39ff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  font-family: Poppins;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.range-btn img {
  width: 20px;
}


.chart-wrapper {
  width: 100%;
  height: 260px;
  position: relative;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  right: 0;
  top: 42px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 6px 0;
  width: 160px;
  z-index: 20;
}

.menu div {
  padding: 10px 14px;
  font-family: Poppins;
  cursor: pointer;
}

.menu div:hover {
  background: #f3f4f6;
}
