<div id="main-container">
    <header>
        <h1 class="title">Add Your Goal</h1>
        <button class="close-btn" (click)="this.closeDialog()">
            <img src="assets/icons/close.svg" alt="">
        </button>
    </header>
    <hr>
    <main>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

          <div class="input-form">
            <label for="goal">Goal</label>

            <div class="input-box"
                [class.invalid]="goal.invalid && (goal.touched || f.submitted) || errorMessage">

              <input
                type="number"
                placeholder="Enter your net balance goal"
                id="goal"
                name="ngoalame"
                [(ngModel)]="model.goal"
                #goal="ngModel"
                required
              >
            </div>

            <div class="error"
                *ngIf="goal.invalid && (goal.touched || f.submitted)">
              <span *ngIf="goal.errors?.['required']">Goal is required.</span>
            </div>
          </div>

          <div class="error-message" *ngIf="errorMessage">
            <span class="error-icon">⚠</span>
            {{ errorMessage }}
          </div>
      </form>
    </main>
    <footer>
        <button [disabled]="!checkValidity(f)" class="btn add" [class.clicked]="addClicked" (click)="onSubmit(f)">
            {{addClicked? 'Added': 'Add'}}
        </button>
        <button class="btn discard" (click)="closeDialog()">Discard</button>
    </footer>
</div>