<div class="container">
  <div class="container-header">
    <img src="/assets/logo.svg" alt="Swardi_logo" class="logo">
    <span class="title">Swardy</span>
  </div>

  <div class="interfOptions">
    <a *ngFor="let f of interfOptions"
       (click)="setActiveinterfOptionsKey(f.key)"
       [class.active]="f.key === activeinterfOptionsKey"
       [routerLink]="f.path">
      <div class="icon-wrap" [class.active]="f.key === activeinterfOptionsKey">
        <img [src]="f.key === activeinterfOptionsKey ? f.activeIconUrl : f.iconUrl" />
      </div>
      <span>{{ f.name }}</span>
    </a>
  </div>

  <a class="profile" 
     routerLink="/profile"
     (click)="setActiveinterfOptionsKey(-1)"
     [class.active]="activeinterfOptionsKey === -1">
    <!-- Dynamic Avatar Display -->
    <div class="profile-avatar" [class.has-image]="hasAvatar()">
      <img *ngIf="hasAvatar()" 
           [src]="getAvatarUrl()" 
           alt="Profile avatar"
           class="avatar-image">
      <span *ngIf="!hasAvatar()" class="avatar-initials">
        {{ getInitials() }}
      </span>
    </div>
    <span>Profile</span>
     <li class="logout-btn" (click)="logout()" role="button" tabindex="0">
  <span>Logout</span>
</li>
  </a>


</div>