<div class="container">
  <div class="container-header">
    <img src="/assets/logo.svg" alt="Swardi_logo" class="logo">
    <span class="title">Swardy</span>
  </div>

  <div class="interfOptions">
    <a *ngFor="let f of interfOptions"
       (click)="setActiveinterfOptionsKey(f.key)"
       [class.active]="f.key === activeinterfOptionsKey"
       [routerLink]="f.path"
       >
      <div class="icon-wrap" [class.active]="f.key === activeinterfOptionsKey">
        <img [src]="f.key === activeinterfOptionsKey ? f.activeIconUrl : f.iconUrl" />
      </div>
      <span>{{ f.name }}</span>
    </a>
  </div>

  <div class="profile">
    <img src="/assets/images/hama.png" alt="avatar">
    <span>Profile</span>
  </div>

  <li (click)="logout()" class="logout-btn">
  <span>Logout</span>
</li>


</div>