.container{


    padding: 25px;
    height: 100vh;
    background-color: #fff;
    max-width: 305px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 165px;

}

.title{
    color: #493D9E;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 16px;
    text-align: center;

}
span{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
}

a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items:center ;
    gap: 10px;

}


.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container-header img{
    height: 50px;
    width: 50px;
    cursor: pointer;
}



img{
    height: 50px;
    width: 50px;
}



.interfOptions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    width: 100%;
}

.interfOptions div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    align-items: center;
    cursor: pointer;
    padding: 8px 0px;
}

.interfOptions div:hover {
    color: #609966;
}

.interfOptions a.active span {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.interfOptions a.active {
    background-color:#6558BF ;
    border-radius:25px ;

    padding: 16px 16px;
    box-shadow: 1px 2px 4.5px 0px rgba(0, 0, 0, 0.25);

}

.interfOptions span{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;

}
.interfOptions span:hover{
    color: #6558BF;

}

.interfOptions a {
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
}
.interfOptions a:last-child {
    margin-bottom: 0;
}



.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    

}
.profile img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.profile span{
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 16px;
}