.container{
    display: flex;
    height: calc(100vh - 50px);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.title{
    color: #493D9E;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 16px;
    text-align: center;
}
span{
    font-weight: 400;
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
}

a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items:center ;
    gap: 10px;

}

.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container-header img{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.interfOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    gap: 20px;
}

.interfOptions a {
    cursor: pointer;
    position: relative;
    width: 100%;
    z-index: 2;
}

.interfOptions div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.interfOptions a.active span {
    font-weight: 600;
    color: #fff;
}

.interfOptions a.active::before {
    content: "";
    background-color:#6558BF ;
    position: absolute;
    width: 120%;
    height: 120%;
    left: -20px;
    z-index: -1;
    border-radius:25px;
    box-shadow: 1px 2px 4.5px 0px rgba(0, 0, 0, 0.25);
}

.interfOptions span{
    font-weight: 600;
    font-size: 1.3em;
    padding: 15px;
}
.interfOptions a:not(.active) span:hover{
    color: #6558BF;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.profile img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.profile span{
    font-weight: 700;
    font-style: Bold;
    font-size: 1.4em;
    line-height: 16px;
}