<main *ngIf="!loading">
  <app-overview-chart
    title="Income Overview"
    type="income"
    [data]="overview"
    (modeChange)="onModeChange($event)"
    >
    
  </app-overview-chart>

  <app-data-table
    title="{{title}}"
    [columns]="IncomeSourceColumnsNames"
    [data]="IncomeSourceData"
    [SearchFactors]="IncomeSourceSearchFactors"
    [entityName]="msg"
    (onAdd)="onAddIncomeSource()"
    >

  </app-data-table>

  <div *ngIf="showProductTable">
    <app-data-table
      title="Income From Product"
      [columns]="IncomeProductColumnsNames"
      [data]="IncomeProductData"
      [SearchFactors]="IncomeProductSearchFactors"
      [entityName]="msg"
      (onAdd)="onAddIncomeProduct()"
      >
    </app-data-table>
  </div>
</main>

<div *ngIf="loading" class="loading-placeholder">
  Loading income...
</div>
