.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 28px 24px;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.12);
    border-radius: 18px;
}

.title{
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 22px;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left{
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img{
  width: 26px;
  height: 26px;
}

.text .name{
  font-size: 16px;
  font-weight: 600;
}

.text .date{
  color: gray;
  font-size: 13px;
}

.right{
  font-size: 18px;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrow{
  width: 16px;
}



.no-transactions {
  text-align: center;
  color: #888;
  font-style: italic;
  margin: 20px 0;
}
