<main *ngIf="!loading">

  <app-overview-chart
    title="Expenses Overview"
    type="expense"
    [data]="overview"
    (modeChange)="onModeChange($event)">
  </app-overview-chart>

  <app-data-table
    title="{{title}}"
    [columns]="NormalExpensesColumnsNames"
    [data]="NormalExpensesData"
    [SearchFactors]="NormalExpensesSearchFactors"
    [entityName]="msg"
  ></app-data-table>
  
  <div *ngIf="showProductExpenses">
    <app-data-table
      title="Product Expense"
      [columns]="ProductExpensesColumnsNames"
      [data]="ProductExpensesData"
      [SearchFactors]="ProductExpensesSearchFactors"
      [entityName]="msg"
    ></app-data-table>
  </div>

</main>

<div *ngIf="loading" class="loading-placeholder">
  Loading expenses...
</div>
