<div id="sort-selection">

  <span id="year-selector" (click)="toggleSortingMethodMenu($event)">
    Year - {{ selectedYear }}
    <img
      src="assets/icons/arrow_down.svg"
      [class.profile-open]="sortingPostsMethodOpen"
    />
  </span>

  <div class="menu"
       *ngIf="sortingPostsMethodOpen"
       role="menu"
       (click)="$event.stopPropagation()"
       #sortMenu>
       

    <div
      *ngFor="let y of years"
      (click)="selectYear(y)">
      {{ y }}
    </div>

  </div>

</div>