/* Main container */
#sort-selection {
  display: flex;
  width: 100%;
  max-width: 600px;
  align-items: center;
  gap: 10px;
  margin: -10px 0;
  position: relative;
  user-select: none;
}


#year-selector {
    background: #685BC7;     
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Poppins", sans-serif;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;


}

#year-selector img {
  width: 16px;
  height: 16px;
  transition: transform .18s ease;
}

#year-selector img.profile-open {
  transform: rotate(180deg);
}

.menu {
  top: 37px;
}