.layout {
  display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap:20px;
    overflow-y: auto;
    width: 100%;
}

.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

app-total-component:nth-child(1) {
  grid-column: 1; grid-row: 1;
}
app-total-component:nth-child(2) {
  grid-column: 2; grid-row: 1;
}
app-total-component:nth-child(3) {
  grid-column: 3; grid-row: 1;
}

.left {
  grid-column: 1 / 3; grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.greeting{
  align-self: self-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  margin-top: 40px;
}

.title{
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 16px;   
}

.subtitle{
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 16px;
    color: rgba(90, 90, 90, 1);
}

.right{
  grid-column: 3 / 4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}