
body {

  background-color: #F4F6F8;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}


.layout {
  display: flex;
  width: 100%;
}

nav{
    display: flex;
    width: 500px;
    flex-direction: column;
    gap: var(--spacing-between-sections);
    height: 100vh;
}




main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap:30px;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;

}


.Total_components{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 30px;
}

.greeting{
  align-self: self-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  margin-top: 40px;
}


.title{
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 16px;
  
}

.subtitle{

font-family: Poppins;
font-weight: 600;
font-size: 24px;
line-height: 16px;

color: rgba(90, 90, 90, 1);

}

.main_container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 30px;


}



.left_wing{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

