<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


<div class="container">
    <div class="img_container"  [style.background]="color">
        <img [class.bigPic]="bigPicture" [src]="imagePath" alt="component_img">
    </div>
    <div class="mini_container">
        <span class="title">{{title}}</span>
        <span class="amount">{{withCurrency?currency + ' ':''}}{{value}}</span>
    </div>

</div>