.container{
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.12);
    display: flex;
    padding: 30px 30px;
    align-items: center;
    gap: 30px;


}

.mini_container{
    display: flex;
    flex-direction: column;
    gap: 22px;

}

span{
    font-family: "Poppins", sans-serif;

}

.title{
    color: #5A5A5A;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 6px;
}

.amount{
    line-height: 9px;
    font-size: 1.8em;
    font-weight: 600;
}

img{
    width: 40px;
    height: 40px;
}

.img_container{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}