main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.header {
    display: flex;
    gap: 20px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}


app-pie-chart {
    flex: 1;
}
