.container{
  background: #fff;
  padding: 28px 20px;
  border-radius: 22px;
  box-shadow: 1px 2px 4.5px rgba(0,0,0,0.15);
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header span{
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.chart{
  flex:1;
  display:flex;
  align-items:center;
  justify-content:center;
}

.chart canvas{
  width:100% !important;
  height:100% !important;
  max-height: 240px;
}

.actions{
  display:flex;
  justify-content:flex-end;
}

.actions button{
  background:#4F46E5;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
  font-family:Poppins;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 1rem;
  font-weight: 500;
  color: #888;
  border: 2px dashed #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}