body{
      background-color: #F4F6F8;
      height: 100vh;
}

* {
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #493D9E;
  border-radius: 100vh;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}